.caption {
  text-align: center;
  font-style: italic;
}

.spoiler {
  filter: blur(10px);
  transition-property: filter;
  transition-duration: .2s;
}
.spoiler:hover, .spoiler:focus {
  filter: blur(0px);
}

.studio {
  text-align: center;
  margin: 0 auto !important;
  display: block;
  max-width: 100% !important;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
